.ssh/
.DS_Store
__pycache__/
*.pyc
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.run.xml
*.bcf
*.lof
*.lot
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.pdf
~$*
.tmp/
temp/
archive_large_files/
.env
local_pdfs/
papers_pdf/
copyrighted_pdfs/
12_manuscript/latex_template/*.zip
12_manuscript/latex_template/sn-article-template/
